/* screen - donations */

.donations {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.donations .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 542px;
  width: 1452px;
}

.donations .overlap-group {
  align-items: center;
  align-self: flex-start;
  background-color: var(--granny-smith-apple);
  display: flex;
  height: 100px;
  min-width: 1440px;
  padding: 0 41px;
}

.donations .second-chancefoods {
  letter-spacing: 0;
  line-height: 23.5px;
  min-height: 72px;
  min-width: 96px;
}

.donations .place {
  letter-spacing: 0;
  margin-left: 520px;
  min-height: 30px;
  min-width: 72px;
}

.donations .about {
  letter-spacing: 0;
  margin-left: 51px;
  min-height: 30px;
  min-width: 82px;
}

.donations .inventory {
  letter-spacing: 0;
  margin-left: 51px;
  min-height: 30px;
  min-width: 137px;
}

.donations .donations-1 {
  letter-spacing: 0;
  margin-left: 51px;
  min-height: 30px;
  min-width: 140px;
}

.donations .forums {
  letter-spacing: 0;
  margin-left: 51px;
  min-height: 30px;
  min-width: 102px;
}

.donations .flex-row {
  align-items: flex-start;
  display: flex;
  height: 57px;
  margin-right: 53.0px;
  margin-top: 91px;
  min-width: 1011px;
}

.donations .own-a-restaurantbecome-partners {
  align-self: flex-end;
  color: var(--black);
  font-family: var(--font-family-exo_2);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27.8px;
  min-height: 56px;
  min-width: 302px;
  text-align: center;
}

.donations .help-us-outmake-a-donation {
  color: var(--black);
  font-family: var(--font-family-exo_2);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27.8px;
  margin-left: 437px;
  min-height: 56px;
  min-width: 272px;
  text-align: center;
}

.donations .frame-container-2 {
  align-items: center;
  display: flex;
  height: 64px;
  margin-right: 26.0px;
  margin-top: 38px;
  min-width: 1056px;
  padding: 0 10px;
}

.donations .frame-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 50px;
  display: flex;
  height: 44px;
  min-width: 310px;
  padding: 11px 42px;
}

.donations .place-1 {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  white-space: nowrap;
}

.donations .frame-2-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 50px;
  display: flex;
  height: 44px;
  margin-left: 414px;
  min-width: 310px;
  padding: 11px 42px;
}

.donations .place-2 {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  white-space: nowrap;
}

.donations .frame-container {
  align-items: center;
  display: flex;
  height: 64px;
  margin-right: 26.0px;
  min-width: 1056px;
  padding: 0 10px;
}

.donations .business-name {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  white-space: nowrap;
}

.donations .business-name-1 {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  white-space: nowrap;
}

.donations .mobile-phone-number {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  white-space: nowrap;
}

.donations .mobile-phone-number-1 {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  white-space: nowrap;
}

.donations .email-addres {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  white-space: nowrap;
}

.donations .email-addres-1 {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  white-space: nowrap;
}

.donations .flex-row-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 469px;
  margin-right: 14.0px;
  min-width: 1056px;
}

.donations .frame-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 128px;
  width: 332px;
}

.donations .frame-2-2 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--white);
  border-radius: 50px;
  display: flex;
  height: 44px;
  margin-right: 2.0px;
  margin-top: 10px;
  min-width: 310px;
  padding: 11px 42px;
}

.donations .city {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  white-space: nowrap;
}

.donations .frame {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 64px;
  justify-content: flex-end;
  margin-top: 10px;
  min-width: 320px;
}

.donations .frame-2-3 {
  align-items: flex-start;
  background-color: var(--fern);
  border-radius: 50px;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  min-width: 310px;
  padding: 13px 32px;
}

.donations .register-your-business {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  min-width: 236px;
  text-align: center;
  white-space: nowrap;
}

.donations .pngwing-1 {
  align-self: flex-end;
  height: 429px;
  margin-left: 6px;
  object-fit: cover;
  width: 386px;
}

.donations .amount-donated {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  white-space: nowrap;
}

.donations .frame-2-4 {
  align-items: flex-start;
  background-color: var(--fern);
  border-radius: 50px;
  display: flex;
  height: 44px;
  min-width: 310px;
  padding: 13px 42px;
}

.donations .make-a-donation {
  letter-spacing: 0.72px;
  line-height: 15.7px;
  min-height: 16px;
  min-width: 206px;
  text-align: center;
  white-space: nowrap;
}
